<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">

  <div class="nav">
    <app-nav></app-nav>
  </div>

  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <div class="two-lines">
      Welcome to<br>EatLand
      <img src="https://i.ibb.co/bJbmCmc/Screenshot-2.png" class="custom-icon">
    </div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Enter search term">
    <button mat-icon-button class="find-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>

</div>